<footer class="bg-dark text-light py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <span id="year"></span> Mon Blog. Tous droits réservés.</p>
            </div>
            <div class="col-md-6 text-md-end">
            
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-decoration-none text-white fw-bold" href="/">Accueil</a></li>
                    <li class="list-inline-item"><a class="text-decoration-none text-white fw-bold" href="/propos">À Propos</a></li>
                    <li class="list-inline-item"><a class="text-decoration-none text-white fw-bold" href="/contact">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>
</footer>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

</html>