<%- include('partials/header.ejs') %>
<main>
    <div class="container my-5">
        <h1>Erreur 404 - Page non trouvée</h1>
        <p>La page que vous cherchez n'existe pas. Vous pouvez retourner à la <a href="/blog">page d'accueil</a>.
        </p>
    </div>
</main>
<%- include('partials/footer.ejs') %>