<%- include('partials/header.ejs') %>

    <main>

        <div class="container my-5">
            <h1 class="text-center">Détails de l'Article
                <span class="badge bg-info text-white">
                    <%= article.titre %>
                </span>
            </h1>
            <div class="card">
                <img src="<%= article.image %>" class="card-img-top object-fit-cover" alt="<%= article.titre %>"
                    style="height: 400px;">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= article.titre %>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <%= article.auteur %>
                    </h6>
                    <p class="card-text">Résumé de l'article : <%= article.resume %>
                    </p>
                    <p class="card-text">
                        <%= article.description %>.
                    </p>
                    <p class="card-text"><small class="text-muted">Date de publication : <%=
                                article.updatedAt.toLocaleDateString('fr-FR',{ year: 'numeric' , month: 'long' ,
                                day: 'numeric' , hour: '2-digit' , minute: '2-digit' }) %></small></p>
                </div>
                <div class="d-grid gap-2 d-md-block mx-auto my-3">
            <a href="/blog" class="btn btn-success cursor-pointer">Retour à la liste</a>

            <a href="/blog/article/<%= article._id %>/edit" class="btn btn-warning">Modifier</a>

                    <form action="/blog/article/<%= article._id %>?_method=DELETE" method="POST"
                        class="d-inline cursor-pointer">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Voulez-vous supprimer cet article ?')"
                        >Supprimer</button>
                    </form>

                </div>
            </div>
        </div>

    </main>





    <%- include('partials/footer.ejs') %>