<%- include('partials/header.ejs') %>
<main>
    <div class="container my-5">
        <h1>Contactez-nous</h1>
        <p>Utilisez le formulaire ci-dessous pour nous contacter. Nous sommes heureux de répondre à vos questions et
            commentaires.</p>
        <!-- Ajoutez ici un formulaire de contact si nécessaire -->
    </div>
</main>
<%- include('partials/footer.ejs') %>