<%- include('partials/header.ejs') %>
<main>
    <div class="container my-5">
        <h1>Ajouter un Article</h1>
        <form action="/blog/create" method="POST">
            <div class="mb-3">
                <label for="titre" class="form-label">Titre de l'article</label>
                <input type="text" class="form-control" id="titre" name="titre"
                    placeholder="Saisissez le titre de l'article" required>
            </div>
            <div class="mb-3">
                <label for="auteur" class="form-label">Auteur</label>
                <input type="text" class="form-control" id="auteur" name="auteur"
                    placeholder="Saisissez l'auteur de l'article" required>
            </div>
            <div class="mb-3">
                <label for="resume" class="form-label">Résumé</label>
                <textarea class="form-control" id="resume" name="resume" rows="4"
                    placeholder="Saisissez le résumé de l'article" required></textarea>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="6"
                    placeholder="Saisissez la description de l'article" required></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">URL de l'image</label>
                <input type="url" class="form-control" id="image" name="image" placeholder="Entrez l'URL de l'image">
            </div>
            <button type="submit" class="btn btn-primary cursor-pointer">Ajouter l'article</button>
        </form>
    </div>

</main>
<%- include('partials/footer.ejs') %>