<%- include('partials/header.ejs') %>

<main>
    <div class="container my-5">
        <h1 class="text-center">Bienvenue sur Mon Blog</h1>
        <div class="row">
            <h4 class="text-center my-3 text-white">
                Dans ce projet node js, nous allons créer un blog qui nous permettra de créer, lire, mettre à jour et supprimer des articles de blog. Nous allons utiliser le framework Express et le moteur de template EJS pour créer notre application.
                Ceci est un tutoriel pour les débutants qui souhaitent apprendre à créer une application Web avec Node.js et Express.
            <h4/>
        </div>
        <div class="row">
            <% if (dataBlog.length>0) { %>
            <% for( let index=0; index < dataBlog.length; index++ ) { %>
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="<%= dataBlog[index].image %>" class="card-img-top object-fit-cover"
                            alt="<%= dataBlog[index].titre %>" style="height: 200px;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= dataBlog[index].titre %>
                            </h5>
                            <p class="badge text-bg-info text-white">
                                <%= dataBlog[index].auteur %>
                            </p>
                            <p class="card-text">
                                <%= dataBlog[index].resume %>
                            </p>
                            <p class="card-text text-muted">
                                <%= dataBlog[index].date %>
                            </p>
                            <a href="/blog/article/<%= dataBlog[index]._id %>" class="btn btn-primary">Lire la suite</a>
                        </div>
                    </div>
                </div>
                <% } %>
            <% } else{%>
            <div class="col-md-12">
                <div class="alert alert-info text-center fw-bold">
                    Aucun article n'a été publié pour le moment.
                </div>
            <% } %>

        </div>
    </div>
</main>
<%- include('partials/footer.ejs') %>
