<%- include('partials/header.ejs') %>
<main
    <div class="container my-5">
        <h1>À Propos</h1>
        <p>Ceci est la page "À Propos" de votre blog. Vous pouvez ajouter ici des informations sur l'objectif de votre
            blog, son histoire, votre équipe, etc.</p>
    </div>
</main>
<%- include('partials/footer.ejs') %>