    @import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Young+Serif&display=swap');

    body {

        /* font-family: 'Hurricane', cursive; */
        font-family: 'Young Serif', serif;
        background-image: url('/assets/images/bg1.jpg');
        background-size: cover;

    }

    .container-fluid {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    p {
        font-family: 'arial';
    }

    main {
        flex: 1;
    }